//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


@import "helpers/colours";


// Add your specific styles here. Ideally folders so that it won't affect others


//@import "examples/";
@import "exercises/apply-renew-passport/index";
@import "exercises/apply-renew-passport/apply-renew-passport-ming";
@import "exercises/apply-renew-passport/apply-renew-passport-beth";
@import "exercises/apply-renew-passport/apply-renew-passport-alex";
@import "exercises/paye-calculator/index";
@import "exercises/paye-calculator/paye-calculator-alex";


// Add general styles for this website here
code {
    font-family: monospace,monospace;
    font-size: 1em;
    padding: 0 5px;
    color: govuk-colour("red");
    background-color: govuk-colour("light-grey");
}

.dpl-header {
    background: $navy;   
}

.dpl-header__logo {
    margin-bottom: 0;
}
.dpl-header-container {
    border-bottom: 10px solid $yellow;
}