{% extends "layout.html" %}

{% set bodyClasses = "exercise-paye-calculator" %}

{% block pageTitle %}
  Exercise: reproducing the homepage of Apply online for a UK passport – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a not a real service.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Exercise: reproducing the PAYE calculator
      </h1>

      <p class="govuk-body">Please reproduce <a class="govuk-link" href="http://payecalculator.hmrc.gov.uk/PAYE0.aspx">the PAYE calculator</a>. This page isn't in the GOV.UK style but please use components and styles from GOV.UK Design to create this page.</p>
        
      <p class="govuk-body">
        Try to upload your page and attach your link to the last section of this page. Remember to create a branch off the <code>main</code>. When you are ready to publish it, you can create a pull request and ask another designer to do the code review for you.</p>

      <p class="govuk-body"><img class="exercise-apply-renew-passport__thumbnail" src="/public/images/exercises/paye-calculator/alexs/thumbnail-paye-calculator.png" alt="Page thumbnail"></p>

      <h2 class="govuk-heading-m">General rules</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Re-produce the calculator.
        </li>
        <li>
          Add the results page.
        </li>
        <li>
          Use styles and components from <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>.
        </li>
        <li>
          No need to reproduce the header and footer.
        </li>
        <li>
          No need to produce a realistic calculator. The calculation result is not important.
        </li>
        <li>
          No need to make it exactly the same.
        </li>
      </ul>

      <h2 class="govuk-heading-m">Techniques you may apply</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Use of Layout from Design System
        </li>
        <li>
          Use of Typography from Design System
        </li>
        <li>
          Use of form component from Design System
        </li>
        <li>
          Learn how to produce multi-page prototype
        </li>
        <li>
          GIT commands
        </li>
        <li>
          Pull request and code review
        </li>
      </ul>

      <h2 class="govuk-heading-m">Submissions</h2>
      <p>Add your name to submit exercise assignment:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">Ming</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Israt</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Beth</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Chanelle</a>
        </li>
        <li>
          <a class="govuk-link" href="/exercises/paye-calculator/alexs/paye-calculator-1-alex.html">Alex</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
