{% extends "layouts/main.html" %}
{% extends "hmrc/layouts/account-header.html" %}

{% set bodyClasses = "exercise-paye-calculator-alex" %}

{% from "hmrc/components/banner/macro.njk" import hmrcBanner %}

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<!-- Header -->
{% block header %}

  <!-- GOV.UK Banner -->
  {{ govukHeader({

    homepageUrl: "#"

  }) }}

  <div class="govuk-width-container">

      <!-- HMRC logo -->
      {{ hmrcBanner({
          
      }) }}

  </div>

  <!-- HMRC Account Header -->
  {%
    set hmrcAccountHeader = {
      language: "en",
      serviceName: "PAYE Tax calculator",
      serviceUrl: "/",
      homepageUrl: "/",
      containerClasses: "govuk-width-container",
      classes: "",
      languageToggle: {
        en: {
          href: "/hmrc-design-patterns/account-header/example/"
        },
        cy: {
          href: "/hmrc-design-patterns/account-header/example-welsh/"
        }
      },
      accountHome: {
        href: "#home",
        active: true
      },
      messages: {
        href: "#messages",
        messageCount: "30"
      },
      checkProgress: {
        href: "#check-progress"
      },
      paperlessSettings: {
        href: "#paperless-settings"
      },
      personalDetails: {
        href: "#personal-details"
      },
      signOut: {
        href: "#sign-out"
      }
    }
  %}

{% endblock %}

<!-- Before content -->
{% block beforeContent %}

  <!-- Sub navigation -->
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'For employees and individuals',
      href: '#1',
      active: true
    }, {
      text: 'For employers',
      href: '#2'
    }, {
      text: 'For businesses and corporations',
      href: '#3'
    }]
  }) }}

    <!-- Backlink -->
    {{ govukBackLink({
      text: "Back",
      href: "/exercises/paye-calculator/alexs/paye-calculator-3-alex"
    }) }}

{% endblock %}

<!-- Content area -->
{% block content %}

  <div class="govuk-grid-row">

    <!-- Heading -->
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/exercises/paye-calculator/alexs/paye-calculator-5-alex" method="post">

        <!-- Tax code -->
        {{ govukInput({
          label: {
            text: "What is your tax code? (Optional)",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          id: "tax-code",
          name: "tax-code",
          value: data['tax-code'],
          hint: {
            text: "If you do not enter a tax code we will use the default tax code 1257L to calculate your take-home pay."
          }
        }) }}

        <!-- More details -->
        {{ govukDetails({
          summaryText: "Find your current tax code",
          html: 'You can usually find your tax code on a <a href="#">recent payslip or P45 (opens in a new tab)</a>.'
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>

  </div>

{% endblock %}