{% extends "layout.html" %}
{% extends "hmrc/layouts/account-header.html" %}

{% set bodyClasses = "exercise-paye-calculator-alex" %}

{% from "hmrc/components/banner/macro.njk" import hmrcBanner %}

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

<!-- Header -->
{% block header %}

  <!-- GOV.UK Banner -->
  {{ govukHeader({

    homepageUrl: "#"

  }) }}

  <div class="govuk-width-container">

      <!-- HMRC logo -->
      {{ hmrcBanner({
          
      }) }}

  </div>

  <!-- HMRC Account Header -->
  {%
    set hmrcAccountHeader = {
      language: "en",
      serviceName: "PAYE Tax calculator",
      serviceUrl: "/",
      homepageUrl: "/",
      containerClasses: "govuk-width-container",
      classes: "",
      languageToggle: {
        en: {
          href: "/hmrc-design-patterns/account-header/example/"
        },
        cy: {
          href: "/hmrc-design-patterns/account-header/example-welsh/"
        }
      },
      accountHome: {
        href: "#home",
        active: true
      },
      messages: {
        href: "#messages",
        messageCount: "30"
      },
      checkProgress: {
        href: "#check-progress"
      },
      paperlessSettings: {
        href: "#paperless-settings"
      },
      personalDetails: {
        href: "#personal-details"
      },
      signOut: {
        href: "#sign-out"
      }
    }
  %}

{% endblock %}

<!-- Before content -->
{% block beforeContent %}

  <!-- Sub navigation -->
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'For employees and individuals',
      href: '#1',
      active: true
    }, {
      text: 'For employers',
      href: '#2'
    }, {
      text: 'For businesses and corporations',
      href: '#3'
    }]
  }) }}

    <!-- Backlink -->
    {{ govukBackLink({
      text: "Back",
      href: "/exercises/paye-calculator/alexs/paye-calculator-1-alex"
    }) }}

{% endblock %}

<!-- Content area -->
{% block content %}

  <div class="govuk-grid-row">

    <!-- Heading -->
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/exercises/paye-calculator/alexs/paye-calculator-3-alex" method="post">

        {% call govukFieldset({
          legend: {
            text: "How much are you paid?",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <!-- Amount paid -->
        {{ govukInput({
          id: "amount-paid",
          name: "amount-paid",
          value: data['amount-paid'],
          label: {
            text: "Amount paid",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          prefix: {
            text: "£"
          },
          hint: {
            text: "For example, 1500 or 125.50"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        <!-- Frequency of payment -->
        {{ govukRadios({
          name: "payment-frequency",
          value: data['payment-frequency'],
          fieldset: {
            legend: {
              text: "How often are you paid?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Hourly",
              text: "Hourly"
            },
            {
              value: "Daily",
              text: "Daily"
            },
            {
              value: "Weekly",
              text: "Weekly"
            },
            {
              value: "Fortnightly",
              text: "Fortnightly"
            },
            {
              value: "Monthly",
              text: "Monthly"
            },
            {
              value: "Annualy",
              text: "Annualy"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        {% endcall %}

      </form>

    </div>

  </div>


{% endblock %}