{% extends "layouts/main.html" %}

{% block pageTitle %}
    Mainstream guide example
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for this page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Passports, travel and living abroad</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Passports</a>
        </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply online for a UK passport
      </h1>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
      
        <p>Use this service to apply for, renew, replace or update your passport and pay for it online.</p>

        <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

        {{ govukInsetText({
            text: "If your passport is burgundy or has ‘European Union’ on the cover, you can continue to use it until it expires."
        }) }}

        <h2 class="govuk-heading-l govuk-!-font-size-27">How long it takes</h2>

        <p><a href="#">Check how long it will take to get a passport</a> before you apply.</p>

        <p>If you need a passport urgently, you can <a href="#">find out more about the Online Premium or 1 week Fast Track services</a>.</p>

        <p>Do not book travel until you have a valid passport - your new passport will not have the same number as your old one.</p>

        <h2 class="govuk-heading-l govuk-!-font-size-27">Before you start</h2>

        <p>You’ll need a debit or credit card to use this service.</p>

        <p><a href="#">It’s £9.50 cheaper</a> to apply for a passport online than by post.</p>

        {{ govukButton({
            text: "Start now",
            href: "#",
            isStartButton: true,
            classes: 'govuk-!-margin-bottom-8'
        }) }}

        <h2 class="govuk-heading-l govuk-!-font-size-27">Other ways to pay</h2>

        <p>You can pick up passport application forms from your <a href="#">local Post Office</a> and apply by post, or use the <a href="#">Post Office Check and Send service</a>.</p>

        <p>It takes longer to apply by post than online.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--spaced">
            <li class="govuk-!-margin-top-3">
              <a href="#">
                Passport fees
              </a>
            </li>
            <li class="govuk-!-margin-top-3">
              <a href="#">
                Get a passport photo
              </a>
            </li>
            <li class="govuk-!-margin-top-3">
              <a href="#">
                Change your name or personal details on your passport
              </a>
            </li>
            <li class="govuk-!-margin-top-3">
              <a href="#">
                Getting your first adult passport
              </a>
            </li>
            <li class="govuk-!-margin-top-3">
              <a href="#">
                Get a passport for your child
              </a>
            </li>
            <li class="govuk-!-margin-top-3">
              <a href="#">
                Visiting the EU, Switzerland, Norway, Iceland or Liechtenstein
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Explore the topic
            </h2>
            <ul class="govuk-list govuk-!-font-size-16">
                <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Passports</a></li>
            </ul>
        </aside>
    </div>

  </main>
</div>

{% endblock %}
