{% extends "layout.html" %}

{% set bodyClasses = "exercise-apply-renew-passport" %}

{% block pageTitle %}
  RPR prototype beta – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a not a real service.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Regulated professions register (RPR)
      </h1>

      <h2 class="govuk-heading-m">Prototype details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Client
          </dt>
          <dd class="govuk-summary-list__value">
            BEIS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time
          </dt>
          <dd class="govuk-summary-list__value">
            January 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Collaborators
          </dt>
          <dd class="govuk-summary-list__value">
            Ming
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Source code
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="https://github.com/dxw/rpr-prototype-beta">Link to GitHub</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Live prototype
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="https://rpr-prototype-beta.herokuapp.com/">Link to Heroku</a>
          </dd>
        </div>
      </dl>

    </div>
  </div>

{% endblock %}
