{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  <header class="govuk-header dpl-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container dpl-header-container">
      <div class="govuk-header__logo dpl-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <!--[if gt IE 8]><!-->
            <img src="/public/images/dxw-logo.svg" />
            <!--<![endif]-->
            <!--[if IE 8]>
            <img src="/assets/images/dxw-logo.png" class="govuk-header__logotype-crown-fallback-image" width="107" height="37">
            <![endif]-->
          </span>
        </a>
      </div>
      <div class="govuk-header__content">
        <a href="/" class="govuk-header__link govuk-header__service-name">
          {{ serviceName }}
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a not a real service.'
  }) }}
{% endblock %}
